#certificate{
    width: 100%;
    padding: 50px 100px;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#certificate>p{
    color: #ededed;
    font-size: 15px;
    font-family: 'Poppins';
}

#certificate-container{
    width: 100%;
}
.certi{
    margin: 20px 0;
    padding: 30px;
    background-color: #32383D;
    border: none;
    border-radius: 16px;
    display: flex;
    column-gap: 40px;
}
#certificate-container .even{
    flex-direction: row-reverse;
}
.certi-img{
    width: 40%;
    display: flex;
    align-items: center;
}
.certi-img>img{
    width: 100%;
}
.certi-descrip{
    width: 60%;
    color: #ededed;
}
.certi-descrip>h2, .certi-descrip>p, .certi-descrip>span{
    font-family: 'Poppins';
}
.certi-descrip>h2{
    color: #8CC152;
    margin-bottom: 10px;
}
.certi-descrip>p{
    font-size: 14px;
    margin-bottom: 10px;
}
.certi-tag{
    display: flex;
    flex-wrap: wrap;
}
.certi-tag>span{
    padding: 5px 15px;
    border: none;
    border-radius: 16px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Poppins';
    background-color: #484F54;
}
.certi-btn{
    margin-top: 20px;
    border-radius: 6px;
    background-color: #8CC152;
    display: inline-block;
}

.certi-btn .certi-btn-box{
    border: 2px solid #8CC152;
    background-color: #32383D;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transition: transform 250ms ease-in-out;
}

.certi-btn .certi-btn-box:hover{
    transform: translate(-4px, -4px);
}

.certi-btn .certi-btn-box a{
    font-family: 'Poppins';
    padding: 5px 15px;
    text-decoration: none;
    color: #EDEDED;
}

@media only screen and (max-width: 900px){
    #certificate{
        width: 100%;
        padding: 50px 80px;
    }
    .certi{
        display: flex;
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
    }
    #certificate-container .even{
        flex-direction: column;
    }
    .certi-img{
        width: 100%;
    }
    .certi-descrip{
        width: 100%;
    }
}

@media only screen and (max-width: 600px){
    #certificate{
        width: 100%;
        padding: 50px 30px;
    }
}