#contact{
    width: 100%;
    padding: 50px 100px;
    background-color: #1B1F22;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#contact>p{
    text-align: center;
    color: #ededed;
    font-size: 14px;
    font-family: 'Poppins';
}
form{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form p, form button{
    font-family: 'Poppins';
}
form>div{
    display: flex;
}
form #phn{
    margin-top: 15px;
    font-size: 24px;
    font-weight: 600;
    color: #ededed;
}
form>div>#form-email{
    display: inline;
    font-size: 24px;
    font-weight: 600;
    color: #ededed;
}
form button{
    margin-left: 10px;
    padding: 5px 15px;
    border: 2px solid #8CC152;
    border-radius: 5px;
    color: #ededed;
    background-color: #32383D;
    cursor: pointer;
}
form #copy-btn{
    margin-top: 15px;
    margin-left: 10px;
    padding: 5px 15px;
    border: 2px solid #8CC152;
    border-radius: 5px;
    color: #ededed;
    background-color: #32383D;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: auto;
}
#copy-btn>p{
    font-size: 14px;
    font-family: 'Poppins';
}
#connect{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#connect>p{
    margin-bottom: 15px;
    color: #ededed;
    font-size: 14px;
    font-family: 'Poppins';
}
#connect>div{
    display: flex;
    column-gap: 30px;
}
#connect>div>a{
    text-decoration: none;
    color: #ededed;
    font-size: 28px;
}
#connect>div>a:hover{
    color: #8CC152;
}

@media only screen and (max-width: 900px){
    #contact{
        width: 100%;
        padding: 50px 80px;
    }
}

@media only screen and (max-width: 900px){
    #contact{
        width: 100%;
        padding: 50px 30px;
    }
    form #phn{
        margin-top: 15px;
        font-size: 16px;
        font-weight: 600;
        color: #ededed;
    }
    form>div{
        display: flex;
        align-items: center;
    }
    form>div>#form-email{
        display: inline;
        font-size: 16px;
        font-weight: 600;
        color: #ededed;
    }
    form button{
        margin-left: 10px;
        padding: 5px 15px;
        border: 2px solid #8CC152;
        border-radius: 5px;
        color: #ededed;
        background-color: #32383D;
        cursor: pointer;
    }
    form #copy-btn{
        margin-top: 15px;
        margin-left: 10px;
        padding: 5px 15px;
        border: 2px solid #8CC152;
        border-radius: 5px;
        color: #ededed;
        background-color: #32383D;
        cursor: pointer;
        display: flex;
        align-items: center;
        height: auto;
    }
    #copy-btn>p{
        font-size: 14px;
        font-family: 'Poppins';
    }
}