#about{
    width: 100%;
    padding: 50px 100px;
    background-color: #1B1F22;
    display: flex;
    flex-direction: column;
}

#ab-head{
    margin: 0 auto 40px auto;
    padding: 5px 10px;
    font-size: 14px;
    color: #ededed;
    background-color: #32383d;
    border: none;
    border-radius: 16px;
}

#about-inner{
    width: 100%;
    display: flex;
    gap: 5%;
    justify-content: center;
}

#about-inner>img{
    width: 35%;
    height: auto;
    border-radius: 1em;
    object-fit: cover;
    border: 4px solid #8CC152;
}

.floating { 
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% { transform: translate(0, 0px); }
	50% { transform: translate(0, 15px); }
	100% { transform: translate(0, -0px); } 
}

#ab-inner-text{
    width: 65%;
}

#ab-inner-text>h2{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: #8CC152;
}
#ab-inner-text>p{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #ededed;
}

@media only screen and (max-width: 900px){
    #about{
        padding: 50px 80px;
    }
    #about-inner{
        flex-direction: column;
        align-items: center;
    }
    #about-inner>img{
        width: 55%;
        height: auto;
    }

    .floating {
        margin-left: 0;
        margin-top: 0;
    }
    
    #ab-inner-text{
        width: 100%;
        margin-top: 60px;
    }
}

@media only screen and (max-width: 600px){
    #about{
        padding: 50px 50px;
    }
    #about-inner>img{
        width: 75%;
        height: auto;
    }
}