.main-area{
    height: 100vh;
    height: 100dvh;
    padding: 0 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    align-items: center;
    color: #EDEDED;
}

.main-area .main-text{
    grid-column: 1/ span 3;
}

.main-text .hi-text{
    font-size: 18px;
    padding-bottom: 5px;
}

.main-text h2{
    font-size: clamp(26px, 4vw, 46px);
}

.main-text h3{
    font-size: clamp(20px, 3vw, 36px);
}

.main-text h3 span{
    color: #8CC152;
}

.main-text .bio{
    padding-top: 30px;
    font-size: 14px;
}

.hireMe-div{
    margin-top: 25px;
    border-radius: 6px;
    background-color: #8CC152;
    display: inline-block;
}

.hireMe-div .hireMe-box{
    border: 2px solid #8CC152;
    background-color: #212529;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    transition: transform 250ms ease-in-out;
}

.hireMe-div .hireMe-box:hover{
    transform: translate(-4px, -4px);
}

.hireMe-div .hireMe-box a{
    padding: 10px 35px;
    text-decoration: none;
    color: #EDEDED;
}
    /* main-text - end */
    /* main-image - start*/
.main-area .main-image{
    grid-column: 4/ span 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-image .img-box{
    position: absolute;
    transition: transform 250ms ease-in-out;
}

.main-image .img-box #front-img{
    width: 280px;
}

.main-image .img-back-box{
    width: 280px;
    height: 280px;
    margin: 18px 0 0 24px;
    border: 2px solid #8CC152;
    border-style: dashed;
    border-radius: 30px;
    position: absolute;
    transition: transform 250ms ease-in-out;
}

.main-image:hover .img-box{
    transform: translate(-4px, -4px);
}

.main-image:hover .img-back-box{
    transform: translate(4px, 4px);
}