nav{
    width: 100%;
    padding: 20px 60px;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

#logo{
    display: inline-block;
    background-color: #8CC152;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
#logo-front{
    display: inline-block;
    padding: 8px 12px;
    color: #8CC152;
    background-color: #212529;
    font-weight: 600;
    font-size: 18px;
    border: 3px solid #8CC152;
    border-radius: 3px;
    transition: all .35s ease-in-out;
}
#logo:hover #logo-front{
    transform: translate(-4px, -4px);
}

#nav-links>a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
}
#nav-links>a:hover{
    color: #8CC152;
}
#nav-links>a>span{
    color: #8CC152;
}
#nav-links>#nav-btn{
    margin-left: 15px;
    display: inline-block;
    background-color: #8CC152;
    border-radius: 4px;
}
#nav-links #btn{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 14px;
    color: #8CC152;
    background-color: #212529;
    border: 2px solid #8CC152;
    border-radius: 4px;
    cursor: pointer;
    transition: all .35s ease-in-out;
}

#nav-btn:hover #btn{
    transform: translate(-4px, -4px);
}
/* mobile - nav */
#mobile-nav{
    display: none;
}

@media only screen and (max-width: 900px){
    nav{
        display: none;
    }

    /* mobile - nav */

    #mobile-nav{
        display: block;
        position: fixed;
        z-index: 10;
    }
    /* #logo{
        position: fixed;
        top: 1.5em;
        left: 2em;
    } */
    #navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 1em 2em;
        backdrop-filter: blur(3px);
        z-index: -3;
    }
    #menu-toggle{
        cursor: pointer;
        position: fixed;
        top: 1em;
        right: 2em;
    }
    .nav-overlay{
        position: fixed;
        background-color: brown;
        z-index: -2;
        top: -100%;
        right: 0;
        width: 50%;
        height: 100vh;
        overflow: hidden;
        padding: 4em;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        display: flex;
        flex-direction: column;
    }
    .nav-overlay.open{
        top: 0;
    }
    .hambox{
        position: relative;
        width: 44px;
        height: 44px;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hambox:hover{
        background-color: rgba( 255, 255, 255, 0.2);
    }
    .line-top, .line-bottom{
        margin: 0 auto;
        position: absolute;
        display: block;
        width: 24px;
        height: 2px;
        border-radius: 10px;
        background: #8CC152;
        transform: rotate(0deg);
        transition: all 0.4s;
    }
    .line-top{
        top: 40%;
    }
    .line-bottom{
        bottom: 40%;
    }
    .line-top.spin{
        top: 50%;
        transform: rotate(135deg);
        background-color: #fff;
    }
    .line-bottom.spin{
        top: 50%;
        transform: rotate(225deg);
        background-color: #fff;
    }

    .nav-overlay>a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        margin-right: 0;
        margin-top: 20px;
    }
    .nav-overlay>a:hover{
        color: #8CC152;
    }
    .nav-overlay>a>span{
        color: #8CC152;
    }
    #mbl-nav-btn{
        width: 138px;
        margin-left: 0;
        margin-top: 20px;
        display: inline-block;
        background-color: #8CC152;
        border-radius: 4px;
    }
    #mbl-btn{
        padding: 10px 20px;
        font-weight: 600;
        font-size: 14px;
        color: #8CC152;
        background-color: #212529;
        border: 2px solid #8CC152;
        border-radius: 4px;
        cursor: pointer;
        transition: all .35s ease-in-out;
    }
    #mbl-nav-btn:hover #mbl-btn{
        transform: translate(-4px, -4px);
    }
}

@media only screen and (max-width: 600px){
    .nav-overlay{
        width: 100%;
    }
}