#skill{
    width: 100%;
    padding: 50px 100px;
    background-color: #212529;
    display: flex;
    flex-direction: column;
}

#skill-head{
    margin: 0 auto 20px auto;
    padding: 5px 10px;
    font-size: 14px;
    color: #ededed;
    background-color: #32383d;
    border: none;
    border-radius: 16px;
}

#skill>p{
    margin: 0 auto;
    font-size: 14px;
    color: #ededed;
    font-family: 'Poppins', sans-serif;
}

#logos{
    padding: 50px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 80px;
}
#logos>img{
    width: 45px;
    height: fit-content;
    justify-self: center;
    transition: all 0.5s ease-in-out;
}
#logos>img:hover{
    transform: scale(1.5);
}

@media only screen and (max-width: 900px){
    #skill{
        padding: 50px 80px;
    }
}

@media only screen and (max-width: 600px){
    #skill{
        padding: 50px 30px;
    }
    #logos>img{
        width: 35px;
    }
}