#skill{
    width: 100%;
    padding: 50px 100px;
    background-color: #212529;
    display: flex;
    flex-direction: column;
}

#skill-head{
    margin: 0 auto 20px auto;
    padding: 5px 10px;
    font-size: 14px;
    color: #ededed;
    background-color: #32383d;
    border: none;
    border-radius: 16px;
}

#skill>p{
    margin: 0 auto;
    font-size: 14px;
    color: #ededed;
    font-family: 'Poppins', sans-serif;
}

#logos{
    padding: 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}
#logos>img{
    width: 45px;
    justify-self: center;
}